<h1>Races</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Region</th>

  </tr>
<% @races.each do |race| %>

  <tr>
    <td><%= race.name%></td>
    <td><%= race.region_id%></td>

  </tr>
<% end %>
</table>
