<h1>Elder Scrolls Characters</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Race</th>
    <th>City</th>
    <th>Class</th>
  </tr>
<% @es_characters.each do |character| %>
  <tr>
    <td><%= character.name%></td>
    <td><%= character.race.name%></td>
    <td><%= character.city.name%></td>
    <td><%= character.character_class.name%></td>
  </tr>
<% end %>
</table>
