<h1>Classes</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Primary Stat</th>

  </tr>
<% @character_classes.each do |character_class| %>
  <tr>
    <td><%= character_class.name%></td>
    <td><%= character_class.primaryStat%></td>

  </tr>
<% end %>
</table>
<p><%= link_to 'Home', root_path%></p>
