<h1>Cities</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Region</th>

  </tr>
<% @cities.each do |city| %>
  <tr>
    <td><%= city.name%></td>
    <td><%= city.region.name%></td>

  </tr>
<% end %>
</table>
